@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  #root {
    width: 100%;
    padding: 0; 
    margin: 0 auto;
    text-align: center;
  }
  html, body {
    height: 100%;
  }
   */

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

/* .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar and prevent scrolling */
.box-5::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.box-5 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for technology badges */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}